<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../view/home.css">
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Journal</a>
  <ul class="nav navbar-nav">
    <button class="btn btn-outline-primary pull-md-right" type="submit">Login</button>
  </nav>
  <h1 class="display-4">Gestion des flux</h1>
  <h3 class="lead">Ajouter un flux</h3>

  <div class="jumbotron">
      <h2 class="display-6">Flux : </h2>
      <?php if($alert){
	  if($error){?>
      <div class="alert alert-danger">
	      <?php if($err=="nolink"){ ?>
	      	Veuillez entrez un lien
		<?php }else /*if ($err=="nametaken")*/{ ?>
	      	Nom déjà pris
	      <?php }?>
      </div>
      <?php }else{?>
      <div class="alert alert-success">
	      Flux ajouté avec succès.
      </div>
      <?php }?>
      <?php }?>
 <form action="manip_admin.php" method="post">
  <label>Lien vers le fichier xml :</label><br>
     <input value="http://" type="link" name="lien"><br><br>
     <input type="hidden" name="etat" value="ajoutflux">
  <input type="submit" value="Ajouter">
</form> 
  </div>
</body>
</html>
