<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="bo.css">
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Journal</a>
  <ul class="nav navbar-nav">
    <button class="btn btn-outline-primary pull-md-right" type="submit">Login</button>
  </nav>
  <h1 class="display-4">Gestion des flux</h1>
  <h3 class="lead">Ajouter une catégorie</h3>

  <div class="jumbotron">
      <h2 class="display-6">Catégorie : </h2>
 <form action="action_page.php">
  <label>Nom :</label><br>
     <input value=""><br><br>
  <label>Lien vers l'image :</label><br>
     <input value="http://"><br><br>
  <input type="submit" value="Ajouter">
</form> 
  </div>
</body>
</html>
