<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../view/chose.css">
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Journal</a>
  <ul class="nav navbar-nav">
    <button class="btn btn-outline-primary pull-md-right" type="submit">Login</button>
  </nav>
  <h1 class="display-4">Renseignez vos centres d'interêts</h1>
  <h3 class="lead">Ces informations permettent de vous proposer un flux personalisé</h3>

  <div class="jumbotron">
    <div class="container">
      <h2 class="display-6">Centres d'interêt: </h2>
    <div class="row">
      <?php
      if(isset($categories)){
        foreach($categories as $key => $value){
          $nom = ($choix[$value->name]==1) ? $value->name."bis" : $value->name;
          $etat = ($choix[$value->name]==1) ? "=0" : "=1";
          echo '<div class="col-lg-4">';
          echo '<a href="http://www-etu-info.iut2.upmf-grenoble.fr/~nourik/m3104/tp1/BobMi-l-heure/controler/ctrl-chose.php?'.$nom.$etat.createURL($choix).'"><div class="card"';
          if($choix[$value->name] == 1){
              echo ' style="box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)"';
          }
          echo '><img class="card-img-top" src="../view/'.$value->img.'" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">'.$value->name;
          if($choix[$value->name] == 1){
              echo '<span style="float: right; color: green" class="entypo-check card-title"> </span>';
          }
          echo '</h4>';
          echo '</div>
                </div></a>
                </div>
        }
      }

    </div>';
    echo '<a href="http://www-etu-info.iut2.upmf-grenoble.fr/~nourik/m3104/tp1/BobMi-l-heure/controler/ctrl-chose.php?'.createURL($choix).'">
    <button type="submit" class="btn btn-success">Confirmer</button>
  </a>';
    ?>
    </div>
  </div>
</body>
</html>
