@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

body{
  width: 100%;
  heigth: 100%;
  background-image: url("fond.jpeg");
  background: contain;
  text-align: center;
}
a,a:visited,a:hover{
  text-decoration: inherit;
  color: black;
}

.jumbotron{
  width: 800px;
  margin: 30px auto;
  text-align: center;
  padding: 10px 10px;
}
.row{
 height: 450px;
 overflow: scroll;
}

.card{
  height: 200px;
  padding-top: 12px;
}
.card-block{
  padding-top: 15px;
}
.card-img-top{
  width: 200px;
}

h1{
  margin: 10px auto;
  color: white;
}
