<?php if(!isset($cards))
	$cards = [];?>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../view/home.css">
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Journal</a>
  <ul class="nav navbar-nav">
    <button class="btn btn-primary pull-md-right" type="submit">Mes Options</button>
    <button class="btn btn-outline-primary pull-md-right" type="submit">Ajouter flux</button>
  </nav>
  <h1 class="display-4">Voici votre contenu personnalisé</h1>
  <h3 class="display-8">Ces préférences peuvent être modifées à tout moment</h3>

  <div class="jumbotron">
	  <?php foreach($cards as $c){?>
	  <div class="card">
		    <div class="row">
			    <div class="col-sm-6">
				    <img class="card-img-top" src="<?php echo $c['imagepath']?>" alt="Card image cap">
			    </div>
			    <div class="col-sm-6">
			  <h4 class="card-title"><?php echo $c['titre']?></h4>
			  <p class="card-text"><?php echo $c['description']?></p>
			    </div>
		    </div>
	  </div>
	  <?php }?>
  </div>
</body>
</html>
