body{
  width: 100%;
  heigth: 100%;
  background-image: url("fond.jpeg");
  background-size:cover;
  background: contain;
  text-align: center;
  background : url("fond.jpeg") no-repeat no-repeat fixed;
}

nav{
  position:relative;
  top:0px;
  margin-bottom: 10px;
}

h1,h3{
  color: white;
  text-align: left;
  margin-left: 5%;
}
h3{
  color: black;
}

.jumbotron{
  width: 90%;
  margin-left: calc((100% - 90%)/2);
  margin-top: 20px;
  background-color: white;
}

button{
  margin: 0px 10px;
}

.card{
	text-align: left;
}

.card-img-top, .card-block{
	display: inline-block;
}
.delete{
    height: 20px;
    width: 20px;
    background:transparent url('http://www.clipartbest.com/cliparts/dcr/bGR/dcrbGRqc9.png');
    background-size: cover;
    display: inline-block;
    border:0;
    text-indent:1000em;
}

}
