<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="../view/option.css">
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Journal</a>
  <ul class="nav navbar-nav">
    <button class="btn btn-outline-primary pull-sm-left" type="submit">Ajouter</button>
    <a href="../controler/logout.php"><button class="btn btn-primary pull-sm-right" type="submit">Deconnexion</button></a>
    <button class="btn btn-outline-primary pull-sm-right" type="submit">Mes Actualités</button>
  </nav>

  <div class="jumbotron">
    <h2 class="display-4">Mes options</h1>
  </div>
</body>
</html>
